.table-component {
    .table-content {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        background-color: #1e1e1e;
    }

    .table-input-checkbox {
        margin-right: 10px;
        appearance: none;
        width: 14px;
        height: 14px;
        border: 2px solid #3c3c3c;
        border-radius: 3px;
        background-color: #252526;
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s, border-color 0.3s;

        &:checked {
            background-color: #31557c;
            border-color: #005a9e;
        }
    }

    .table-input-text {
        background-color: #252526;
        border: none;
        border-bottom: 3px solid #3c3c3c;
        padding: 10px; 
        margin-right: 10px;
        color: #D4D4D4;
        outline: none;
        transition: border-color 0.3s, background-color 0.3s;
        flex: 1; 

        &:focus {
            border-bottom-color: #31557c;
            background-color: #333333;
        }
    }

    .table-remove-spacing {
        margin-right: 45px;
    }

    .table-input-button {
        background: none;
        border: none;
        color: #d73a49;
        cursor: pointer;
        font-size: 16px;
        padding: 5px;
        transition: color 0.3s;
        margin-right: 20px;
        
        &:hover {
            color: #b31d28;   
           transform: scale(1.1); 
        }
    }

    .trashcan {
        width: 15px;
    }
}


