.query-container {
    margin-left: 28px;
    margin-right: 76px;

    .query-preview-label-box {
        margin-bottom: 10px;
    }

    .query-preview-label {
        color: #d4d4d4;
    }

    .query-preview-input {
      height: 40px;
      color: #d4d4d4; 
      border: 1px solid #3c3c3c; 
      font-family: Consolas, 'Courier New', monospace;
      font-size: 14px;
      padding: 0 10px;
      background-color: #2b2b2b;
      pointer-events: none;
      width: 100%;
      margin-bottom: 20px;
    }
}