.grouped-dropdown {
    position: relative;
    display: inline-block;
    width: 140px;
    cursor: pointer;
    user-select: none;

    .dropdown-selected {
        padding: 10px;
        background-color: #1e1e1e;
        color: #d4d4d4;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dropdown-icon {
        margin-left: 10px;
        color: rgb(198, 198, 198);
    }

    .dropdown-options {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1e1e1e;
        border: 1px solid #3c3c3c;
        z-index: 1;
        max-height: 450px;
        overflow-y: auto;
        font-size: 0.8rem;
        border-radius: 4px;
    }

    .dropdown-group {
        padding: 5px 0;
    }

    .dropdown-group-label {
        padding: 5px 10px;
        color: #d4d4d4;
        font-weight: bold;
        display: flex;
        align-items: center;

        .group-icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            position: relative;
            top: 2px; /* Move the icon down by 2px */
        }
    }

    .json-image {
        width: 12px;
        height: 12px;
        margin-right: 5px;
        position: relative;
        top: 0.4px;
    }

    .dotdotdot-image {
        width: 15px;
        height: 4px;
        margin-right: 5px;
        position: relative;
        top: 1px;
    }

    .dropdown-option {
        padding: 10px;
        padding-left: 20px;
        cursor: pointer;
        color: #d4d4d4;

        &:hover,
        &:focus {
            background-color: #37373d;
            outline: none;
        }
    }
}